<div class='card'>
    <div class='card-header'>
    <h4>
        <a class='link' href='/post/{{id}}'>{{title}}</a>
    </h4>
    <p>
        Posted by {{user.username}} on {{format_date created_at}}
    </p>
    </div>

    <p class='card-body'>
        <a href="{{content}}">{{content}}</a>
    </p>
</div>